html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

hr{
  padding: 0px;
  margin-top: 0px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    height:100%;
    width:100%;
}

.width-wrapper{
  max-width: 800px;
}

#about{
    height:95%;
    width:100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 24em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #000;
    background-image: url('assets/tech_background.gif');
    background-size: cover;


}

#projects{
    height:100%;
    width:100%;
    background-color: #fff;
    color: #1e1e1e;
}

#projects .container{
  width: 100%;

}

#about .container{
  width: 40%;
  background-image: url("assets/test_background.gif");


}

#main-img{
	display: block;
	height: 100%;
	width: 100%;
}

#gds-img{
  /*height: 425px;
  width: 565px;*/
  display: block;
  width: 85%;
  height: auto;
}

#collectibase-img{
  display: block;
  width: 85%;
  height: auto;
}

#ciac-img{
  display: block;
  width: 90%;
  height: auto;
}

#indexr-img{
  display: block;
  width: 30%;
  height: auto;
}

#s3-img{
  display: block;
  width: 40%;
  height: auto;
}

.project-row{
  margin-bottom: 50px;
}

.project-spacing{
  margin-bottom: 50px;
}

.card-lg{
  box-shadow: 0px 0px 40px -10px #989898;
}

.card-sm{
  box-shadow: 0px 0px 30px -10px #d6d6d6;
}

.upper-card{
  height: 80%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 450px;
}

.lower-card{
  height: 20%;
}

.title-card{
  font-size: 14pt;
  font-family: 'Work Sans', sans-serif;
  padding: 0px;
  color: #282828;

}

.content-card{
  margin-top: 20px;
}

.about-card{
  font-size: 12pt;
  font-family: 'Work Sans', sans-serif;
  padding: 0px;
  color: #282828;
  margin-bottom: 5px;
}

.forest-card{
  background-color: #1a591b;
}

.light-card{
  background-color: #E8E8E8;
}

.dark-card{
  background-color: #313B44;
}

.aqua-card{
  background-color: #900816;
}

.skyblue-card{
  background-color: #89D2DC;
}

.red-card{
  background-color: #F9637C;
}

.emphasis-link{
  color: #006eff;
}

.emphasis-link:hover{
  color: #006eff;
  text-decoration: none;
}

.about-text{
    font-size: 16pt;
    font-family: 'Work Sans', sans-serif;
    color: #d1d1d1;
    text-align: left;
}

.about-title{
  font-size: 18pt;
  font-family: 'Work Sans', sans-serif;
  padding: 0px;
  color: #d1d1d1;
  float: left;
}

.about-icons{
  font-size: 18pt;
  color: #d1d1d1;
  float: right;
  text-align: right;
}

.emphasis-text{
    color: #e7ff7f;
}

.smaller{
    font-size: 18pt !important;
}

.social-icon{
    color: #d1d1d1;
    text-decoration: none;
}

.social-icon:hover{
    color: #8a8a8a;
    text-decoration: none;
}

.skill-section{
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 20px;
}

.skill {
    color: #282828;
    border: 1px solid #282828;
    margin-right: 10px;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
    font-size: 8px;
    line-height: 1.33333em;
    padding: 7px 15px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.skill-black{
    color: #878787 !important;
    border-color: #303030 !important;
}

.skill-red{
  border-color: #F9637C !important;
}

.skill-forest{
  border: 2px solid #1a591b !important;
  
}

.skill-skyblue{
  border-color: #89D2DC !important;
}

.skill-aqua{
  border-color: #900816 !important;
}

@media only screen and (min-width: 2100px) {
  #gds-img {
    width: 55%;
  }
  #indexr-img {
    width: 27%;
  }
  #s3-img {
    width: 37%;
  }
}

@media only screen and (min-width: 1400px) {
  #projects .container {
    max-width: 1300px;
  }

  #about .container{
    max-width: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  #about .container{
    width: 50%;
  }

  #gds-img{
    width: 70%;
  }

  #indexr-img{
    width: 35%;
  }

  #s3-img{
    width: 45%;
  }
}

@media only screen and (max-width: 992px) {
  #about .container{
    width: 60%;
  }

  #gds-img{
    width: 80%;
  }

  #indexr-img{
    width: 40%;
  }

  #s3-img{
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  #about .container{
    width: 70%;
  }

  #gds-img{
    width: 80%;
  }

  #indexr-img{
    width: 30%;
  }

  #s3-img{
    width: 40%;
  }
}

@media only screen and (max-width: 576px) {
  #about .container{
    width: 80%;
  }

  .about-icons{
    font-size: 14pt;
  }

  #gds-img{
    width: 90%;
  }

  #indexr-img{
    width: 40%;
  }

  #s3-img{
    width: 45%;
  }

  #encoder-img{
    width: 80%;
  }

  #ciac-img{
    width: 95%;
  }
}
